* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#texto {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.app {
  width: 100vw;
  height: 100vh;
}

.dark {
  color: rgb(255, 255, 255);
  background-image: url("./assets/background/pexels-adrien-olichon-1257089-2387793.jpg");
  background-size: cover;
}

.light {
  color: black;
  background-image: url("./assets/background/image.jpg");
  background-size: cover;
}

button {
  border: 0px;
  color: rgb(255, 255, 255);
}

.links {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  color: rgb(255, 255, 255);

}

.dark-link {
  color: white;
}

.light-link {
  color: black;
}

.dark-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.light-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.dark-icon, .light-icon {
  display: inline-block;
  margin-right: 5px;
}

.dark-icon {
  color: white;
}

.light-icon {
  color: black;
}

.active-link {
  text-decoration: none;
  color: currentColor;
}

.links :active {
  background-color: #00000000;
  color: currentColor;
  padding: 0px;

}

Link {
  text-decoration: none;
  color: currentColor;
}

.links :hover {
  font-weight: bolder;
  color: white;
  background-color: #00000000;
}

.nav {
  color: rgb(255, 255, 255) !important;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.cuerpo {
  text-align: center;
}

#titulo {
  margin-top: 6em;
  font-weight: 800;
}

#titulo2 {
  margin-top: 3em;
  font-weight: 800;
}

#body {
  font-weight: 700;
  font-size: 35px;
}

.right {
  display: inline-block;
  display: flex;
  margin-left: auto;


}

.links ::-webkit-textfield-decoration-container {
  display: none;
}

.left {
  display: inline-block;
  display: flex;
}

#pie {
  margin: 24em;
}


.block {
  display: inline-block;
  background-color: rgba(55, 57, 59, 0.158);
  border: 1px solid rgba(55, 57, 59, 0.158);
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  align-content: center;
  font-size: 28px;
  vertical-align: middle;
  margin-top: 16%;
}

.blockt2 {
  background-color: rgba(55, 57, 59, 0.158);
  border: 1px solid rgba(55, 57, 59, 0.158);
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  align-content: center;
  font-size: 28px;
  justify-content: center !important;
  width: 380px;
  /*   margin-left: 775px; */
  text-decoration: none;
}

#pagescontent {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pagescontent2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.contactinfo {
  margin-bottom: 5px;
}

.contactlogos {
  display: inline-flex;
  margin-left: 15%;
  margin-right: 15%;
  width: 35px;
  height: 35px;
  color: white !important;
}
